

.footer{
	bottom:0;
	width:100%;
    text-align:center;
	background-color:rgb(40, 43, 43);
	display:block;
	color:#868282;
	border-color:#757575;
	min-height:50px;
	border:1px solid transparent;
}





